{% extends 'base.html' %}



{% block content %}

<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-6 card p-4">
            <h2>Register Success</h2>
            <p>Hello {{ username }},</p>
            
            <p>To verify your account, you have received an email on {{ email }} from us. 
                Please check your email and click on the link provided. If you don't see the email, please check 
                your spam folder as well.
            </p>
        
            <a class="btn btn-primary" target="_blank" href="https://gmail.com">Gmail</a>
            <a class="btn btn-primary mt-2" target="_blank" href="https://login.yahoo.com">Yahoo Mail</a>
            <a class="btn btn-secondary mt-2" href="{% url 'homepage' %}">Skip for now</a>
        </div>

        
    </div>
    
</div>



{% endblock %}